<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find megajaw_bringup)/config/diff_drive_controller.yaml</parameters>
        </plugin>
    </gazebo>

</robot>