<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ros control -->
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find megajaw_bringup)/config/diff_drive_controller.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- camera -->
    <gazebo reference="camera_link">
        <sensor name="camera" type="camera">
            <camera>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>15</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
                <optical_frame_id>camera_link_optical</optical_frame_id>
                <camera_info_topic>camera/camera_info</camera_info_topic>
            </camera>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <topic>camera/image</topic>
        </sensor>
    </gazebo>

    <!-- frictions -->
    <gazebo reference="left_wheel_link">
        <mu1>1.0</mu1>   <!-- longitudinal friction -->
        <mu2>1.0</mu2>   <!-- lateral friction -->
        <fdir1>0 0 1</fdir1>  <!-- direction of mu1 (along wheel axis) -->
        <material>Gazebo/Black</material>

        <soft_contact>
            <soft_cfm>0.001</soft_cfm>
            <soft_erp>0.2</soft_erp>
        </soft_contact>
    </gazebo>

    <gazebo reference="right_wheel_link">
        <mu1>1.0</mu1>   <!-- longitudinal friction -->
        <mu2>1.0</mu2>   <!-- lateral friction -->
        <fdir1>0 0 1</fdir1>  <!-- direction of mu1 (along wheel axis) -->
        <material>Gazebo/Black</material>

        <soft_contact>
            <soft_cfm>0.001</soft_cfm>
            <soft_erp>0.2</soft_erp>
        </soft_contact>
    </gazebo>

    <gazebo reference="caster_link">
        <mu1>0.01</mu1>
        <mu2>0.01</mu2>
        <material>Gazebo/Gray</material>
    </gazebo>
</robot>