<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="MegaJawHardwareDirect" type="system">
        <hardware>
            <plugin>megajaw_hardware_direct/MegaJawHardwareDirect</plugin>

            <param name="servo_pin">5</param>
            <param name="left_wheel_pin_a">6</param>
            <param name="left_wheel_pin_b">13</param>
            <param name="right_wheel_pin_a">19</param>
            <param name="right_wheel_pin_b">26</param>
        </hardware>

        <joint name="left_wheel_base_joint">
            <command_interface name="velocity" />
        </joint>
        
        <joint name="right_wheel_base_joint">
            <command_interface name="velocity" />
        </joint>
        
        <joint name="gripper_ef1_base_joint">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
    </ros2_control>
</robot>
